@model IEnumerable<webBuy.Models.Product>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_homeLayout.cshtml";
}

<h2>Search</h2>

<input type="submit" id="SearchBtn" value="Search" />
<br />
@if (Model.Count() == 0)
{
    <p>No data found</p>
}
else
{

    @foreach (var item in Model)
    {

        <div class="card" style="width: 18rem;" mx-auto>
            <img class="card-img-top" src="~/Images/@item.image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Brand:@item.name</h5>
                <p class="card-text">Price:@item.unitPrice</p>
                <a href="#" class="btn btn-primary">Add to card</a>
                @Html.ActionLink("Details", "Details", new { id = item.productId })
            </div>
        </div>
        <br />
    }

}